{%  extends 'foundation/base.html' %}

{% block base_body %}

    <div class="row">
        <div class="large-offset-3 large-5 small-10 columns">
            <div data-alert class="alert-box {{ alert_level }}">
                {{ state }}
                <a href="#" class="close">&times;</a>
            </div>
        </div>
    </div>

	<form action="{% url 'login' %}" method="post">
		{% if next %}
		<input type="hidden" name="next" value="{{ next }}" />
		{% endif %}

        <div class="row">
            <div class="large-offset-3 large-5 small-10 columns">
                <label>
                    Username
                    <input type="text" name="username" value="{{ username}}" />
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-offset-3 large-5 small-10 columns">
                <label>
                    Password
                    <input type="password" name="password" value="" />
                </label>
            </div>
        </div>

        <div class="row">
            <div class="large-offset-3 large-5 small-10 columns">
                <button type="submit" class="button">Log In</button>
            </div>
        </div>

        {% csrf_token %}
	</form>
{% endblock %}
