{%  extends 'foundation/base.html' %}

{% block base_body %}
    <div class="row">
        <div class="large-8 small-10 large-offset-2">
            <h1>About Us</h1>
        </div>
    </div>

    <div class="row">
        <div class="large-8 small-10 large-offset-2">
            <p>
                Appster was founded based on the idea that if they only had the
                means to do so, anyone could do something truly great. Through
                our innovative client-first methodology, we are able to not
                just index applications, but touch people's lives. Here at
                Appster, we try and bring the best of the digital world right
                to you, without the cruft.
            </p>

            <p>
                Each Appster app goes through a rigorous screening process
                before it is finally approved to be added to our master list of
                the best applications in the world. Appster thrives under
                extreme circumstances to make the world work for <em>you</em>.
            </p>

            <p>Oh, and just <strong>one more thing:</strong></p>
            <p>It's waterproof.</p>

        </div>
    </div>
{% endblock %}
