{%  extends 'base.html' %}

{% block content %}
    <h1>{{ app.name }}</h1>
    <p>(<a href="{% url 'category' app.category.id %}">{{ app.category }}</a>)</p>

    {%  autoescape off %}
    {{ app.description }}
    {% endautoescape %}

    <h2>Find {{ app.name }} for These Platforms:</h2>
    <ul>
        {% for repo in app.foreignapplication_set.all %}
            <li>{{ repo.repository.platform }}: <a href="{{ repo }}">{{ repo.repository.name }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
