{%  extends 'foundation/base.html' %}

{% block base_body %}
    <h1>{{ app.name }}</h1>
    <p>(<a href="{% url 'category' app.category.id %}">{{ app.category }}</a>)</p>

    <div class="app-rating"><p>Rating: {{ app.rating }}/5.0</p></div>

    {%  autoescape off %}
    {{ app.description }}
    {% endautoescape %}

    <h2>Find {{ app.name }} for These Platforms:</h2>
    <ul>
        {% for repo in app.foreignapplication_set.all %}
            <li>{{ repo.repository.platform }}: <a href="{{ repo }}">{{ repo.repository.name }}</a></li>
        {% endfor %}
    </ul>

    <h2>Reviews:</h2>

    <div class="app-reviews">
    {% for review in app.review_set.all %}
        <div class="app-review">
            <div class="app-review-rating"><p>{{ review.rating }}/5</p></div>
            <p class="app-review-text">{{ review.review_text }}</p>
        </div>
    {% endfor %}
    </div>
{% endblock %}
