{%  extends 'foundation/base.html' %}

{% block base_body %}
    <div class="row">
        <hr>
        <div class="large-2 columns">
            <img src="http://placehold.it/400x300&text=[img]">
            <br>
            <img src="http://placehold.it/400x300&text=[img]">
            <br>
            <img src="http://placehold.it/400x300&text=[img]">
            <br>
            <img src="http://placehold.it/400x300&text=[img]">
        </div>
        <div class="large-5 columns">
            {% if app.screenshot %}
                <img src="{{ app.screenshot }}">
            {% else %}
                <img src="http://placehold.it/400x500&text={{ app.name }}">
            {% endif %}
        </div>
        <div class="large-5 columns">
            <h2>{{ app.name }}</h2>
            {% if app.srating %}<p>{{ app.srating }}/5.0</p>{% endif %}
            <p><a href="{% url 'category' app.category.id %}">{{ app.category }}</a></p>
            {% autoescape off %}
            <p>{{ app.description }}</p>
            {% endautoescape %}

            {% for repo in app.foreignapplication_set.all %}
                <div class="panel">
                    <h5>{{ repo.repository.name }}</h5>
                    <h6 class="subheader">{{ app.name }} is available for {{ repo.repository.platform }} on the {{ repo.repository.name }}</h6>
                    <a href="{{ repo }}" class="small button">Download from {{ repo.repository.name }}</a>
                </div>
            {% endfor %}

        </div>
    </div>

    <div class="row">
        <hr/>
        <div class="row">
            <div class="large-6 small-6">
                <h2>Reviews</h2>
                {% if logged_in %}
                    <a href="{% url 'new_review' app.id %}">Write a Review</a>
                {% endif %}
            </div>
            {% if app.review_set.all %}
                {% for review in app.review_set.all %}
                    <div class="large-6 columns">
                        {% if review.author %}<h4>{{ review.author }}</h4>{% endif %}
                        <h5>{{ review.rating }}/5</h5>
                        {% if review.review_text %}<p>{{ review.review_text }}</p>{% endif %}
                    </div>
                {% endfor %}
            {% else %}
                <div class="large-6 columns">
                    <p>Eventually, some nice person will come along and write a review for {{ app.name }}. I hope to be there when that day comes.</p>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <hr>
        <div class="large-12 columns">
            <h4>You might also like:</h4>
            {% for related in related_apps %}
                <div class="large-offset-1 large-2 small-3 columns">
                    {% if related.logo %}
                        <a href="{% url 'detail' related.id %}"><img src="{{ related.logo }}"></a>
                    {% else %}
                        <a href="{% url 'detail' related.id %}"><img src="http://placehold.it/1000x1000&text={{ app.name }}"></a>
                    {% endif %}
                    <div class="text-center">
                        {{ related.name }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
