{% extends 'foundation/base.html' %}
{% load staticfiles %}

{% block top_logo %}
    <div class="large-offset-3 large-6 small-offset-2 small-8 columns">
        <img src="{% static 'image/top-logo.png' %}"/>
    </div>
{% endblock %}

{% block base_body %}
    <div class="row">
        <div class="large-12 columns">
            {% for app in apps %}
                {% if forloop.counter|divisibleby:"4" %}<div class="row">{% endif %}
                    <a href="{% url 'detail' app.id %}">
                        <div class="large-3 small-6 columns">
                            {% if app.logo %}
                                <img src="{{ app.logo }}">
                            {% else %}
                                <img src="http://placehold.it/1000x1000&text={{ app.name }}">
                            {% endif %}

                            <div class="panel">
                                <h5>{{ app.name }}</h5>
                                <h6 class="subheader">{{ app.srating }}/5.0</h6>
                                {% for platform in app.foreignapplication_set.all %}
                                    <img class="platform-logo" src="{{ platform.repository.logo }}"></img>
                                {% endfor %}
                            </div>
                        </div>
                    </a>
                {% if forloop.last or forloop.counter|divisibleby:"4" %}</div>{% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock%}
