{%  extends 'foundation/base.html' %}

{% block base_body %}
    <div class="row">
        <div class="large-8 small-10 large-offset-2">
            <h1>New App Request</h1>
        </div>
    </div>

    {% if alert %}
        <div class="row">
            <div class="large-offset-2 large-8 small-10 columns">
                <div data-alert class="alert-box success">
                    {{ alert }}
                    <a href="#" class="close">&times;</a>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="large-8 small-10 large-offset-2">
            <form action="{% url 'new_app' %}" method="post">
                {% csrf_token %}
                {{ form }}

                <div class="row">
                    <div class="large-5 small-10 columns">
                        <button type="submit" class="button">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
