{% extends 'foundation/base.html' %}

{% block base_body %}
    <div class="row">
        <div class="large-12 columns">
            {% for app in results %}
                {% if forloop.counter|divisibleby:"4" %}<div class="row">{% endif %}
                    <a href="{% url 'detail' app.id %}">
                        <div class="large-3 small-6 columns">
                            {% if app.logo %}
                                <img src="{{ app.logo }}">
                            {% else %}
                                <img src="http://placehold.it/1000x1000&text={{ app.name }}">
                            {% endif %}

                            <div class="panel">
                                <h5>{{ app.name }}</h5>
                                <h6 class="subheader">{{ app.rating }}/5.0</h6>
                                {% for platform in app.foreignapplication_set.all %}
                                    <img class="platform-logo" src="{{ platform.repository.logo }}"></img>
                                {% endfor %}
                            </div>
                        </div>
                    </a>
                {% if forloop.last or forloop.counter|divisibleby:"4" %}</div>{% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock%}

{% block other_search_functions %}
    <div class="row collapse">
        <div class="large-10 small-8 columns">
            <select name="sort">
                <option value="name">Alphabetically A-Z</option>
                <option value="-name">Alphabetically Z-A</option>
                <option value="rating">Rating: Low to High</option>
                <option value="-rating" selected>Rating: High to Low</option>
            </select>
        </div>
    </div>
{% endblock %}
